/* GENERAL STYLE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  color: black;
  background: white;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: red;
}

/* Typography */
h1 {
  font-size: 40px;
}

/* Utilities */
.container {
  width: 1200px;
}

.only-desktop {
  display: none;
}

/* ----------------------------------------- */

/* JUMBOTRON */
.jumbotron {
  height: 500px;
  color: #fff;
  background-image: url(../img/hero-bg.jpg);
  background-position: center;
  position: relative;
}

.jumbotron .title {
  width: 100%;
  padding: 40px;
  text-align: center;
  line-height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}

.title small {
  display: none
}

.app-store {
  margin-top: 10px;
}

/* SECTION TWO */
.products {
  margin: 50px 20px;
}

.products .text-box a {
  color: blue;
}

.products .text-box a:hover {
  color: red;
}

/* SECTION THREE */
.how-works {
  height: 400px;
  margin-bottom: 200px;
  background-image: url('../img/helbiz-banner.jpg');
  background-size: cover;
  background-position: left center;
}

.how-works .col-left, .how-works .col-right {
  margin-top: 450px;
}

.how-works .col-left {
  text-align: right;
}

.how-works .col-left .text {
  display: inline-block;
  text-align: left;
}

.how-works .col-left h3 {
  font-size: 30px;
}

.how-works h3, .how-works h4 {
  font-weight: 600px;
}

.how-works .col-right .text {
  padding-top: 12px;
}

/* RESPONSIVE TABLET */
@media screen and (min-width: 992px) {
  .only-desktop {
    display: block;
  }

  /* Header */
  .main-menu {
    height: 80px;
    width: 100%;
    background: #fff;
  }

  .col-md-8 ul li {
    display: inline-block;
    margin-left: 18px;
  }

  header .container .col-md-8 {
    text-align: right;
  }

  header .container .col-md-4,
  header .container .col-md-8 {
    line-height: 80px;
  }

  /* Jumbotron */
  .title small {
    display:inherit;
  }

  /* Section Two */
  .text-box {
    width: 100%;
    margin: 20px 0;
    line-height: 40px;
  }

  .go, .bike {
    height: 660px;
    padding: 20px;
    text-align: center;
    background: #fafafa;
  }

  .go>img, .bike>img {
    height: 400px;
  }

  /* Section Three */
  .how-works {
    background-position: center;
  }

  .how-works .phone {
    margin-top: 100px;
    text-align: center;
  }

  .how-works .phone img {
    max-height: 600px;
    max-width: 100%;
  }
}

/* RESPONSIVE DESKTOP */
@media screen and (min-width: 1200px) {
  .how-works {
    margin-bottom: 310px;
  }

  .how-works .col-left, .how-works .col-right {
    margin-top: 500px;
  }
}
